*~
*.class
*.jar

app/HW1/.gwt/.gwt-log
app/HW1/war/histopedia_web/
app/HW1/war/WEB-INF/classes/
app/HW1/war/WEB-INF/deploy/
app/HW1/war/WEB-INF/lib/
app/HW1/.settings/com.google.appengine.eclipse.core.prefs
